body {
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
    background-image: url("../img/FondoWeb.jpg");
    background-size: cover;
    padding-top: 100px;
  }
  
  header {
    background-image: url("../img/banner1.jpg");
    background-size: contain;
    background-position: center;
    color: rgba(14, 13, 13, 0.965);
    width: 100%;
    text-align: center;
    top: 0;
    z-index: 1000;
    filter: brightness(0.2);
  }
  h1 {
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(101, 101, 104, 0);
    transition: transform 0.4s ease;
  }
  
  h1 a {
    color: inherit; /*mantiene el color al tocarlo*/
    text-decoration: none;
  }
  
 

