body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.indice{
    color: #fefefe;
  }
  
section {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


#resultadoPromedio {
    font-weight: bold;
    margin-top: 10px;
}


#materialesEstudio {
    background-color: #f9f9f9;
}


@media (max-width: 768px) {
    header,
    footer {
        font-size: 14px;
    }
}
